# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# MemoryCaptures can get excessive in size.
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDE / Editor
/[Aa]ssets/Plugins/Editor/JetBrains*
/.vs/
/.vscode/
/.gradle/
/.idea/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svn
*.svd
*.sbr

# Debug files
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt

# Builds / Packages
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# OS / System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Crashlytics
crashlytics-build.properties

# Addressables / StreamingAssets
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Android Keystore
*.keystore
*.jks

# Secrets and environment variables
.env
*secret*.json